apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ config_map_name }}
  namespace: {{ namespace }}
  labels:
{{ labels_yaml_4 }}
  annotations:
{{ annotations_yaml_4 }}
data:
  service-ir.json: |
{{ service_ir_json | indent(4, true) }}
